@font-face {
  font-family: bubblegums;
  src: url('./assets/fonts/06384_BUBBLEGU.ttf');
  font-weight: 200;
}
/* rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58% */
:root {
  --color: #fff;
  --background: #121212;
  --accentcolor: #c58aec;
  --purple:rgba(170, 54, 124, 0.5);
  --blue:rgba(74, 47, 189, 0.5);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  color: var(--color) !important;
  background-color: var(--background) !important;
}

/*copied and pasted from existing code*/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  background-image: url('./assets/img/banner-bg.png');
  background-repeat: no-repeat;
  min-width: 100%;
  top: 0;
  z-index: 9999999;
  transition: 0.32 ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}

nav.navbar a.navbar-brand {
  position: left;
  width: 10%;
  font-family: 'bubblegums', 'Helvetica Neue';
  color: var(--accentcolor);
  -webkit-font-smoothing: antialiased;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  display: flex;
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  margin-left: 18px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-block;
  margin: 10px 0 10px 0;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: var(--color);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 60%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 34px;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #121212;
}

.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

.themeSwitch {
  margin-left: 15px;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

/*Main*/
.task-container {
  flex: 1 1 0%;
  padding: 260px 0 150px 0;
	max-width: 800px;
}

#new-task-form {
  display: flex;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
}

#new-task-input ,.text {
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--light);
  font-size: 1.25rem;
}
#new-task-submit{
  margin: 5px 20px 0 0;
  color: var(--accentcolor);
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(90.21deg, var(--purple) -5.91%, var(--blue) 111.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}
.task{
  display: grid;
  grid-template-columns: 80% 20%;
}
.text{
  min-width: 100vw;
}
.actions{
  display: flex;
}

.actions button{
  margin: 5px;
  color: var(--accentcolor);
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(90.21deg, var(--purple) -5.91%, var(--blue) 111.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.task-list .actions button:hover {
	opacity: 0.8;
}

.task-list .actions button:active {
	opacity: 0.6;
}

/*Footer*/
.footer {
  display: flex;
  background-image: url('./assets/img/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 100vh 0 0 0;
  width: 100%;
}

.footer p {
  flex: 1 1 0%;
  font-weight: 400;
  font-size: 10px;
  color: #B8B8B8;
  letter-spacing: 0.5px;

}
